@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow-x: hidden;
}


#description{
  background-image: url('../../public/bgDescription.png');
  background-size: cover;
}

#product{
  background-image: url('../../public/bg-product.png');
  background-size: cover;
}